.window-title {
    -fx-text-fill: #e4eee6;
}

.app-navbar {
    -fx-background-color: #8ca9aa;
}

.app-pane {
    -fx-background-color: #576f72;
}

.web-view {
    -fx-background-color: #576f72;
}

.circle-button-label {
    /*-fx-text-fill: #e4eee6;*/
    -fx-font-size: 20px;
    -fx-background-radius: 50%;
    -fx-pref-width: 27px;
    -fx-pref-height: 27px;
    -fx-cursor: hand;
}
